.page{
  padding: 2rem;
  padding-bottom: 25rem;
}

.music-list{
  width: 100%;
  border-top: 1px solid var(--gray);

  font-size: 1.4rem;
  border-collapse: collapse !important;
  border-spacing: 0px;
}

.music-list thead{
  text-transform: uppercase;
  font-weight: bold;
}

.music-list thead tr{
  border: none !important;
}

.music-list tr, th{
  padding: 1.5rem;
  text-align: left;
}

.music-list tr{
  border-top: 2px solid var(--gray);
}

.music-list tr + tr{
  border-top: 1px solid var(--gray);
}

.music-list .duration-th{
  align-items: center;
}

.music-list .index-th{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .album-th{
    display: none;
  }
}

@media (max-width: 400px) {
  .artist-th{
    display: none;
  }
}

/* Botão */
.music-list .btn-play{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  border-radius: 90rem;

  color: var(--white);
  background-color: transparent;
  font-size: 12px;

  cursor: pointer;
  outline: none;
  border: none;
}

.list-item .btn-play .hover{
  display: none;
}

.list-item:hover .btn-play .hover{
  display: block;
}

.list-item:hover .btn-play .not-hover{
  display: none;
}

.list-item .equalizer-gif{
  height: 15px;
  width: 15px;
}