.page{
  padding: 2rem;
  padding-bottom: 25rem;
  /* min-height: calc(100% + 20rem); */
}

.music-list{
  width: 100%;
  border-top: 1px solid var(--gray);

  font-size: 1.4rem;
  border-collapse: collapse !important;
  border-spacing: 0px;
}

.music-list thead{
  text-transform: uppercase;
  font-weight: bold;
}

.music-list thead tr{
  border: none !important;
}

.music-list tr, th{
  padding: 1.5rem;
  text-align: left;
}

.music-list tr{
  border-top: 2px solid var(--gray);
}

.music-list tr + tr{
  border-top: 1px solid var(--gray);
}

.music-list .duration-th, .index-th{
  text-align: center;
}

.teste{
  position: fixed;
  width: 100%;
  height: 2rem;
  background-color: red;
  bottom: 0;
}