.page-container{
  padding-bottom: 25rem;
}

.register{
  padding: 0rem 2rem 2rem 2rem;
}

.register label{
  font-size: 1.5rem;
}

.register .form-group{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.register input{
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 10rem;
  padding: 1rem 0.5rem 1rem 0.7rem;
  width: 100%;
}

input:focus-within{
  background-color: var(--background);
}

.register label{
  margin: 1rem 0 0.7rem  0.7rem;
}

.register textarea{
  background-color: var(--background);
  color: var(--white);
  border: 1px solid var(--primary) !important;
  border-radius: 0.4rem;
  padding: 0.8rem 0.5rem 0.8rem 0.7rem;
  font-family: 'Roboto', sans-serif;
  resize: vertical;
  margin: 0 0.1rem;
}

.register textarea::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--background);
  margin-right: 100%;
  height: 80%;
}

.register textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.register select{
  height: 2.8rem;
  border: 1px solid var(--primary);
  border-radius: 10rem;
  padding: 0 0.7rem;
}

.register input[type="file"]{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem;

  border: 3px dashed var(--primary);
  border-radius: 0;
}

.register .btn-create{
  margin-top: 3rem;
  padding: 1rem;

  background-color: var(--primary);
  border: none;
  border-radius: 1rem;
  
  color: var(--background);
  font-weight: 800;
  font-size: 1.5rem;
  
  cursor: pointer;
  transition: backround-color 0.4s;
}